.tag {color: #569cd6;}

.text {color: white;}

.example-container {
            background-color: #141414;
            border: 1px solid white;
            border-radius: 6px;
            border-left: 5px solid greenyellow;
            padding: 10px;
            margin: 20px;
            font-family: Arial;
        }        

        .code-block {
            background-color: #1e1e1e;
            padding: 20px;
            margin: 10px;
            border-radius: 6px;
            padding: 20px;
            line-height: 1.5;
            font-family: 'Consolas', 'Courier New', sans-serif, Arial;
        }

        .tags-list {
            margin: left;
            background-color: #1E1E1E;
        }

        .sidebar {
            position: fixed;
            background: #141414;
            padding: 1em;
        }

        hr {
            background-color: greenyellow;
            border-color: greenyellow;
            height: 1px ;
        }

        body {
            background-color: #162029;
            font-family: 'Arial';
            color: #FFFFFF;
            height: 200vh;
        }

        main {
            background-color: #1D2A35;
            margin-left: 220px;  
        }

        footer {
   
            text-align: center;
        
        }

        li {
            list-style-type: none;
        }

        nav a {
            color: white;
            
        }

        nav a:hover {
            background-color: grey;
            display: block;
            transition: 0,3s;
        }

        a {
            color: white;
            text-decoration: none;
        }

        mark {
            background-color: greenyellow;
        }