.descricao__titulo, .descricao__texto {
    padding: 1em;
}

.descricao__container {
    padding: 1em;
    margin: 0 1em;
    background-color: var(--fundo-descricao);
    width: 50%;
    border: 1px solid lightblue;
}

.container__modelo {
    background-color: lightslategray;
    margin: 1em;
    padding: 1em;
    width: 30%;

}