.cabecalho__navegacao {
    display: flex;
    list-style: none;
    background-color: var(--fundo-modelo);
}

.navegacao__item {
    margin: 0 5px;
}

.navegacao__link {
    text-decoration: none;
    color: var(--branco)
}

.cabecalho__titulo {
    padding: 5px;
    display: flex;
}