@import url(/assets/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(/assets/css/header.css);
@import url(/assets/css/descricao.css);

:root {
    --branco: black;
    --fonte-principal: 'Montserrat';
    --fundo-principal: #284863;
    --fundo-descricao: #778899;
    --fundo-modelo: #1D2A35;
    --cor-fonte-principal: #ECECEC;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--fundo-principal);
}